<!--
View for the Groups Page includes
	- Profile Picture
	- Members
	- Admins
	- Schedule of events
	- Embedded Group Calendar featuring Past and Future Events
	- Group Description
-->
<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
  </body>
</html>