<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- NEW FONT(S) FOR MORE MODERN FEEL~ -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>
    <!-- Older fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand login-window" href="#login-box">
                    <i class="fa fa-play-circle"></i>  <span class="light">Login</span>
                </a>
            </div>
            <div id="login-box" class="login-popup">
                <a href="#" class="close"><img src="./images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
                <form method="post" class="signin" action="#">
                    <fieldset class="textbox">
                        <label class="username">
                            <span>Username or email</span>
                            <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
                        </label>
                        
                        <label class="password">
                            <span>Password</span>
                            <input id="password" name="password" value="" type="password" placeholder="Password">
                        </label>
                        
                        <button class="submit button" type="button">Sign in</button>
                        
                        <p>
                        <a class="forgot" href="#">Forgot your password?</a>
                        </p>
                    </fieldset>
                </form>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#what">What</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#how">How</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><img src="images/OOverlap.png" width="90%"></h1>
                        <p class="intro-text">A multi-platform application that allows users to detect overlaps between their schedule and their friend's schedule.<br> <span style="font-size:14px">Created by <i>Team Undefined</i>.</span> </p>
                        <a href="#what" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- What Section -->
    <section id="what" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is OOverlap</h2>
                <p>Nowadays, there are many multi-platform applications that allow you to keep a record of your schedule. When two or more individuals want to meet for any purpose, they have to check their own schedule and present their free time to the people the want to meet with. Other applications simply allow you to share your calendar, thus forcing other people go over your schedule to figure out a meeting time. Going over a schedule every time you want to meet with someone makes the whole experience of meeting completely annoying and inefficient. </p>

				<p>Overlap is a multi-platform application that allows users to detect overlaps between their schedule and their friend's schedule. In that way, individuals can find the perfect time to meet for any given purpose. With the "Priority" feature, a  user can prioritize their free time. Overlap will then take their priorities in to consideration when comparing the schedules.</p>
            </div>
        </div>
    </section>

    <!-- How Section -->
    <section id="how" class="content-section text-center">
        <div class="how-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>How</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- About us Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About us</h2>
                <p> Giovanna Diaz <br />A Dallas, Texas native, Giovanna Diaz is a junior at Smith College double majoring in Computer Science and Mathematics. She also has a great interest in design and will jump at any chance she gets to use the Adobe Creative Suite!</p>

            	<p> Thai Nguyen <br />An Asian geek who sleeps with Java every night but falls in love with Python instead, who desires to solve challenging back-end problems but also fascinated in creating fabulous UI design. Being a person who favors "high entropy" (in other words: "utmost laziness"), he loves utilizing his computer to save his time and work, that's why he is now craving to learn about Machine Learning and Information Retrieval.</p>

            	<p> Justin Coon <br />A sophomore at University of Massachusetts, Amherst majoring in Computer Science. Originally from Longmeadow, MA he now lives in Dallas, TX for summers but comes back for the cold UMass winters. Primarily going to be doing back end development with node and will be working towards integration with Google Calendar and Facebook.</p>

            	<p> Santiago De La Torre <br />Software engineer brought from the darkest side of Europe looking forward to start writing malicious code. In the meantime, he loves desining databases and fairy-rail queries to store and retrieve data in a minimal time possible. Systems programming is his passion and C isn't only his favourite "vitamin."</p>

            	<p> Kiernan Drohan<br/>A Massachusetts native with roots set in the boroughs. Originally a Westborough native but now dwelling in Northborough Massacusetts. With a foot already in the door on the business side of things he seeks to further his knowledge in every direction. Junior at University of Massachusetts Amherst, majoring in Computer Science with a focus in security. Interested in back end security and transfer intricacies.</p>
            	</p>
            </div>
        </div>
    </section>

    <!-- Map Section 
    <div id="map"></div> -->

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <span style="font-size:10px">Copyright &copy; OOverlap 2014</span>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="/javascripts/jquery-1.11.0.js"></script> -->

	<!-- jQuery Version 1.11.1 -->
    <script src="/javascripts/jquery-1.11.0.js"></script>    

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/javascripts/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/grayscale.js"></script>
</body>

</html>
