<!--
View for the Profile Page includes
	- Friend View
	- Groups View
	- Imbedded User Calendar
	- Profile Pictures
	- Button for ability to schedule events
-->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="stylesheets/profile.css" rel="stylesheet" type="text/css" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- START OF HTML FOR PAGE -->

        <div id="wrapper">

			<!-- Links to Home -->
			<div id="banner"><img src="images/OOverlap.png" alt="logo" /></div>
		    
		    <div id="contentWrapper">
		    	
		        <div id="LHS_UserInformation">
		        	
		            <!-- Should be rounded -->
		            <div class="profilePic_wrapper"><img src="images/profPic.png" alt="ProfilePicture" /></div>
					
		            <div class="userInformation_wrapper">
		            	<div> <!-- GET USERNAME -->Giovanna Diaz
		                	<div> Student, Smith College <br />
		                    <!-- GET EMAIL -->gdiaz@smith.edu </div>    
		                </div> 
		            </div>
		            
		            <div class="userFriends_wrapper">
		            	<div> Friends </div>
		                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam bibendum justo tempus facilisis. Sed erat tortor, lobortis quis orci eu, lobortis porta dolor. Proin in diam a ipsum placerat eleifend nec vel urna. Aenean interdum eget velit et scelerisque. Morbi in nisi ligula. Nunc gravida aliquam est. Mauris ultricies tincidunt libero ac ultricies. Donec non scelerisque odio. Nullam varius fringilla orci. Donec auctor nibh nisi, vitae efficitur libero pellentesque at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec congue, ipsum a rutrum finibus, lectus augue interdum felis, sed aliquam dolor nisi at elit. </div>
		            </div>
		            
		            <div class="userGroups_wrapper">
		            	<div> Groups </div>
		                <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam bibendum justo tempus facilisis. Sed erat tortor, lobortis quis orci eu, lobortis porta dolor. Proin in diam a ipsum placerat eleifend nec vel urna. Aenean interdum eget velit et scelerisque. Morbi in nisi ligula. Nunc gravida aliquam est. Mauris ultricies tincidunt libero ac ultricies. Donec non scelerisque odio. Nullam varius fringilla orci. Donec auctor nibh nisi, vitae efficitur libero pellentesque at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec congue, ipsum a rutrum finibus, lectus augue interdum felis, sed aliquam dolor nisi at elit.</div>
		            </div>
		            
		        </div> <!-- End of the LHS -->
		        
		        <div id="RHS_CalendarInformation">
		        	
		            <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=scs%40smith.edu&amp;color=%235229A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="90%" height="500" frameborder="0" scrolling="no"></iframe>		            
		        </div> <!-- End of the RHS -->
		    
		    </div><!-- End of CONTENT WRAPPER -->

		</div>





        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>

