<!--
View for the Profile Page includes
	- Friend View
	- Groups View
	- Imbedded User Calendar
	- Profile Pictures
	- Button for ability to schedule events
-->

<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
  </body>
</html>